.icon {
  width: 100%;
  height: 100%;

  &--large {
    width: rem(30px);
    min-width: rem(30px);
    height: rem(30px);
  }

  &--base {
    width: rem(20px);
    min-width: rem(20px);
    height: rem(20px);
  }

  &--medium {
    width: rem(14px);
    min-width: rem(14px);
    height: rem(14px);
  }

  &--small {
    width: rem(10px);
    height: rem(10px);
  }

  svg {
    width: 100%;
    height: 100%;
  }
}
