<section>
  <div class="container">
    <div class="mb-5">
      <app-timer-bar
        [currentTask$]="currentTask$"
        [projects]="projects$ | async"
        (startTask)="handleTimerStart($event)"
        (stopTask)="handleTimerStop($event)"
      ></app-timer-bar>
    </div>

    <div class="task-group-container">
      <app-task-group
        *ngFor="let group of completedTasksGroups$ | async"
        [group]="group"
        (resumeTask)="handleTimerStart($event)"
      ></app-task-group>
    </div>
  </div>
</section>
