// Base image path
$img-path: '/assets/img/';

// Custom base config
$default-font-size: 16px;
$small-font-size: 14px;

// spacing
$spacing-xxs: 5px;
$spacing-xs: 10px;
$spacing-s: 20px;
$spacing-base: 30px;
$spacing-l: 40px;
$spacing-xl: 50px;

// border
$border-width: 1px;
$border-radius: 5px;

// header heights
$header-mobile-height: 70px;
$header-desktop-height: 90px;
