.completed-task {
  padding: 20px 0;
}

.project-name {
  color: #599aab;
  font-weight: bold;
}

.time-range {
  min-width: 120px;
}

.start-button {
  width: auto;
  min-width: auto;
}

.pointer {
  cursor: pointer;
}
